$white-color: #f9f1ef;
$green-color: #edac72;

.slider__wrapper {
  width: 100%;
  margin-top: 200px;
  margin-left: 116px;
  height: 732px;
}

.slider__count {
  background-color: $green-color;
  font-weight: 400;
  font-size: 134px;
  //   padding: 44px 15px 31px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: $white-color;
  height: 159px;
  margin-top: -80px;
  margin-left: 54px;
  max-width: 155px;
  max-height: 143px;
}

@media (max-width: 1367px) {
  .slider__wrapper {
    margin-top: 150px;
    margin-left: 115px;
    height: 613px;
  }

  .slider__count {
    font-size: 95px;
    margin-top: -70px;
    margin-left: 54px;
    max-width: 124px;
    max-height: 92px;
  }
}
